<%- include('partials/header')%>
<!-- balise précédente : body -->
<h1>Liste des incidents en cours</h1>

<div>
    <h2> Attraction : <%= incident.name %></h2>
        <ul>
            <li>Capacité : <%= incident.capacity %> personnes</li>
            <li>Date et heure d'ouverture : <%= incident.open_time %></li>
            <li>Date et heure de fermeture : <%= incident.close_time %></li>
            <li>Durée de l'attraction : <%= incident.duration %> minutes</li>
        </ul>
                
    <h2>Numéro d'incident : <%=incident.incidentid%></h2>
    <h3>Description de l'incident</h3>
        <p><%=incident.description%></p>
        <ul>
            <li>Technicien : <%=incident.technician%></li>
            <li>Date de l'incident : <%=incident.incident_date%></li>
            <li>Date de résolution : <%=incident.resolved_date%></li>
        </ul>
</div>

<form action="" method="POST">
    <div>
        <label for="description">Description du problème : </label>
        <input type="text" name="description" >
    </div>
    <div>
        <label for="technician">Nom du technicien : </label>
        <input type="text" name="technician">
    </div>
    <div>
        <label for="resolved_date">Date de résolution : </label>
        <input type="text" name="resolved_date" placeholder="format : 2021-08-02T12:25:00.000Z">
    </div>

    <input type="submit" value="Envoyer">
</form>
<!-- balise suivante : body -->
<%- include('partials/footer')%>
